
<div class="container mt-5 ">

    <h2 class="fw-bolder ">Reset your account password:</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <input type="email" class="form-control mt-3" placeholder="email" formControlName="email" />
        <div class="alert alert-danger mt-3 w-100 " *ngIf="resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched)">
            <p *ngIf="resetPasswordForm.get('email')?.getError('required')">email is required</p>
            <p *ngIf="resetPasswordForm.get('email')?.getError('email')">email pattern is invalid</p>
        </div>
        <input type="password" class="form-control mt-3" placeholder="new password" formControlName="newPassword" />
        <div class="alert alert-danger mt-3 " *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched)">
            <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')">
                must be<br>
                * Start with a letter (either uppercase or lowercase).<br>
                * Be between 6 and 9 characters in total.<br>
                * Can only contain letters (A-Z or a-z) and numbers (0-9)
            </p>
            <p *ngIf="resetPasswordForm.get('password')?.getError('required')">password required</p>
        </div>
        <button type="submit">Reset password</button>
    </form>

</div>
