
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/mainsliderImages/61cSNgtEISL._AC_SY200_.jpg" height="400" />
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../assets/mainsliderImages/Nursing Bags, Medical Bags & Nurse Bags at UniformAdvantage_com.png" height="400"  />
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../assets/mainsliderImages/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg" height="400"/>
        </ng-template>  
      </owl-carousel-o>

