<div class="container">

    <!--main slider-->
    <div class="container my-5 main-slider">
        <div class="row">
            <div class="col-md-8 p-0 ">
                <app-main-slider></app-main-slider>
            </div>
            <div class="col-md-4 p-0 ">
                <img src="../../assets/mainsliderImages/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" height="200"/>
                <img src="../../assets/mainsliderImages/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" height="200"/>
            </div>
        </div>
    </div>

    <app-category-slider></app-category-slider>
    <app-products></app-products>
</div>



