
<div class="container">

    <h3 class="my-5 fw-bolder">Register Now:</h3>

    <div>
        <div class="alert alert-danger mb-3 w-100 " *ngIf="error">
            <p>{{error}}</p>
        </div>
        
        <form [formGroup]="signOutForm" (ngSubmit)="submit()">

            <!--name input field-->
            <label for="name" class="form-label fw-bold mt-1 ">name:</label>
            <input type="text" class="form-control w-100 " id="name" formControlName="name" />
            <div class="alert alert-danger mt-3 w-100 " *ngIf="signOutForm.get('name')?.errors && (signOutForm.get('name')?.touched)">
                <p *ngIf="signOutForm.get('name')?.getError('required')">name is required</p>
                <p *ngIf="signOutForm.get('name')?.getError('minlength')">name min length is 3</p>
            </div>

            <!--email input field-->
            <label for="email" class="form-label fw-bold mt-2">Email:</label>
            <input type="email" class="form-control  w-100" id="email" formControlName="email" />
            <div class="alert alert-danger mt-3 w-100 " *ngIf="signOutForm.get('email')?.errors && (signOutForm.get('email')?.touched)">
                <p *ngIf="signOutForm.get('email')?.getError('required')">email is required</p>
                <p *ngIf="signOutForm.get('email')?.getError('email')">email pattern is invalid</p>
            </div>

            <!--password input field-->
            <label for="password" class="form-label fw-bold mt-2">Password:</label>
            <input type="password" class="form-control  w-100" id="password" formControlName="password" />
            <div class="alert alert-danger mt-3 " *ngIf="signOutForm.get('password')?.errors && (signOutForm.get('password')?.touched)">
                <p *ngIf="signOutForm.get('password')?.getError('pattern')">
                    must be<br>
                    * Start with a letter (either uppercase or lowercase).<br>
                    * Be between 6 and 9 characters in total.<br>
                    * Can only contain letters (A-Z or a-z) and numbers (0-9)
                </p>
                <p *ngIf="signOutForm.get('password')?.getError('required')">password required</p>
            </div>

            <!--repassword input field-->
            <label for="rePassword" class="form-label fw-bold mt-2">Repassword:</label>
            <input type="Password" class="form-control  w-100" id="rePassword" formControlName="rePassword"/>
            <div class=" alert alert-danger mt-3" *ngIf="signOutForm.get('rePassword')?.errors && (signOutForm.get('rePassword')?.touched) ">
                <p *ngIf="signOutForm.get('rePassword')?.getError('required')">
                    repassword required
                </p>
                <p *ngIf="signOutForm.get('rePassword')?.getError('repasswordMatch')">
                    password and repassword must be matched
                </p>
            </div>

            <!--phone input field-->
            <label for="phone" class="form-label fw-bold mt-2">Phone:</label>
            <input type="tel" class="form-control  w-100" id="phone" formControlName="phone" />
            <div class="alert alert-danger mt-3 " *ngIf="signOutForm.get('phone')?.errors && (signOutForm).get('phone')?.touched">
                <p *ngIf="signOutForm.get('phone')?.getError('required')">
                    phone is required
                </p>
                <p *ngIf="signOutForm.get('phone')?.getError('pattern')">
                    phone is invalid
                </p>
            </div>

            <button [disabled]="!signOutForm.valid"  *ngIf="!isLoading"  type="submit" class="btn btn-primary d-block ms-auto  my-4 ">Register Now</button>
            <button *ngIf="isLoading"  type="submit" class="btn btn-primary d-block ms-auto  my-4 ">
                <i class="fa-solid fa-spinner fa-spin"></i>
            </button>
        </form>
    </div>
</div>
